<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Htu</title>
</head>
<body>
    <div class="container">
        {{!-- <header>Header</header> --}}
        {{> header}}
        
        <main>{{{body}}}</main> {{!-- Lay content tu home.handlebars de lap vao day --}}

        {{!-- <footer>Footer</footer> --}}
        {{> footer}}
    </div>
</body>
</html>